includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: max
    treatPhpDocTypesAsCertain: false

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
    excludePaths:
        - %currentWorkingDirectory%/app/Http/Controllers/EmailController.php
        - %currentWorkingDirectory%/app/Console/Commands/*

